body {
  background: linear-gradient(to right, #403a3e, #be5869);
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.clearfix {
  overflow: auto;
}
.form-container {
  width: 40%;
  margin: 20px auto;
  padding: 20px 50px;
  border-radius: 10px;
  text-align: center;
}
.form-control {
  margin: 10px;
  width: 90%;
}
.register-div,
.login-div {
  margin: 20px;
}
@media (max-width: 650px) {
  .form-container {
    width: 90%;
  }
}
@media (min-width: 651px) and (max-width: 1000px) {
  .form-container {
    width: 60%;
  }
}
